* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid lightgreen;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 1.5rem;
}

.social-profile {
  width: 24rem;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5rem;
  border: 1px solid black;
  gap: 1.5rem;
}

.profile-img {
  width: 5.5rem;
  height: 5.5rem;
}

.user-info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* do we need justify-content here? */
  justify-content: center;
  gap: 1rem;
  align-self: stretch;
}

li {
  list-style: none;
}
