* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid lightgreen; */
}

:root {
  --grey-700-bg: hsl(0, 0%, 20%);
  --grey-800-bg: hsl(0, 0%, 12%);
  --grey-900-bg: hsl(0, 0%, 8%);
  --white: hsl(0, 0%, 100%);
  --light-green: hsl(75, 94%, 57%);
}

body {
  background-color: var(--grey-900-bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 1.5rem;
  color: var(--white);
}

.social-profile {
  background-color: var(--grey-800-bg);
  width: 24rem;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* align-items: center; */
  justify-content: center;
  padding: 2.5rem;
  /* border: 1px solid black; */
  border-radius: 0.75rem;
  gap: 1.5rem;
  font-family: "Inter", sans-serif;
}

.profile-img {
  width: 5.5rem;
  height: 5.5rem;
  align-self: center;
  border-radius: 62.438rem;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.user-info address {
  color: var(--light-green);
  font-style: normal;
  font-size: 0.875rem;
}

.social-profile .user-bio {
  /* align-self: center; */
  /* justify-content: center; */
  /* flex-basis: auto; */
  color: var(--white);
  font-size: 0.875rem;
  text-align: center;
}

.social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* do we need justify-content here? */
  justify-content: center;
  gap: 1rem;
  /* align-self: stretch; */
}

li {
  background-color: var(--grey-700-bg);
  color: var(--white);
  list-style: none;
  padding: 0.75rem;
  align-self: stretch;
  text-align: center;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  font-weight: bold;
  transition: color 0.4s ease-in, background-color 0.4s ease-in;
}

li:hover {
  background-color: var(--light-green);
  color: var(--grey-700-bg);
  transition: color 0.4s ease-in, background-color 0.4s ease-in;
  cursor: pointer;
  caret-color: var(--grey-900-bg);
}

a {
  color: inherit;
  text-decoration: none;
}
